<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813694120103-sb04h8k7mvk53f3h6olv06hu5l9vudfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813694120103-sb04h8k7mvk53f3h6olv06hu5l9vudfu</string>
	<key>API_KEY</key>
	<string>AIzaSyBLF22s11nmq28pR8rZnl66j64Tt8E7f8c</string>
	<key>GCM_SENDER_ID</key>
	<string>813694120103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alimasoud.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-application-9d115</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-application-9d115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813694120103:ios:4a80c15903c18235c3ab82</string>
</dict>
</plist>